@import url('https://fonts.googleapis.com/css?family=Climate+Crisis');
@import url('https://fonts.googleapis.com/css?family=Tilt+Warp');

div.nav a.logo {
    font-family: 'Climate Crisis', serif;
    font-size: 40px;

    margin: 0px 0px 0px 50px; /*top right bottom left*/
}

div.nav a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: black;
}

div.nav ul {
    font-size: 20px;
    font-family: "Tilt Warp", serif;

    padding: 0; /*remove list indentation*/
    list-style-type: none; /*remove dots*/
}

ul.navMiddle, ul.navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.navRight {
    align-items: center; /*align size differences text and icon */

    /*Use margin for ul instead of padding since we set it to 0 to remove indentation*/
    margin: 0px 50px 0px 0px; /*top right bottom left*/
}

ul.navMiddle {
    width: 600px;
}

ul.navRight {
    width: 200px;
}

div.nav li {
    display: inline; /*make it sideways*/
    vertical-align: center; /*align size differences text and icon */
}

div.nav {
    align-items: center; /*align size differences between a.logo and the two ul */

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;

    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 400ms ease-in-out;
}

/*Scroll*/
.scroll-down div.nav {
    transform: translate3d(0, -100%, 0); /*x y z*/
    /*hides the navigation bar*/
}

.scroll-up div.nav {
    filter: drop-shadow(0px -10px 30px rgb(170, 170, 170));
    /*add shadow to navigation bar*/
}