/*Mony Thach 500695151
  Jenny Su 500962385


*/
table{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

td {
    border: 1px solid black;
}

th {
	background-color: black;
	color: white;
	font-size: 18px;
}

div.title {
	text-align: center;
	padding: 10px;
	font-size: 24px;
	background-color: black;
	color: white;
}
div.dropdown {
	text-align: center;
	border: 1px solid black;
	padding: 10px;
	font-size: 18px;
}

div.toggleInfo {
	border: 1px solid black;
	padding: 10px;
}

div.animate {
	padding: 10px;
}

td:not(.images) {
  padding: 0em 2.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}  

img {
    max-height: 10em;
    max-width: 10em;
}
